*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.homepage{
    min-height: 160vh;
}

@font-face {
    font-family: 'Nexa';
    src: url('../Fonts/nexa/Nexa-ExtraLight.ttf');
}

@font-face {
    font-family: 'Nexa';
    font-weight: bold;
    src: url('../Fonts/nexa/Nexa-Heavy.ttf');
}



/* <!---------------------------------------- HOME PAGE<--------------------------------------->  */


/* <!------INTRO BODY------>  */

.homepage{
    background-image:url('../Images/home_wallpaper.webp');
    background-size: contain;
    background-position: center;
    overflow-x: hidden;
    background-position-y: 50px;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    height: auto;
}

.intro-t{
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    color: aliceblue;
    font-size: 100px;
    overflow: hidden;
    line-height: 93%;
    position: relative;
    top : 80px ;
    left: 20px ;
}

.intro_para{
    position: relative;
    text-align: justify;
    line-height: 115%;
    left: 20px;
    top: 100px;
    width: 669px;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
}



#learn_more {
    display: flex; 
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 10%;
    padding: 0px; 
}


@media screen and (max-width: 768px) {
    .intro-t {
        font-size: 60px;
        top:50px
    }
    .intro_para{
        font-size: 14px;
        top: 80px;
        width: 90%;
    }

    .learn_b{
        font-size: 14px;
        padding: 8px;
    }
}
    
@media screen and (max-width: 969px) {
    #learn {margin-top: 30%;
    }
}


/* After a certain resolution, the character will disappear */

@media screen and (max-width: 839px) {
    .homepage{ 
       background-image: url('../Images/bg_without_character.png');
       background-size: cover;
       overflow-x: hidden;
    }
   }

@media screen and (max-width: 600px) {
   .homepage{
       background-image: url('../Images/normal_background_mobile.webp');
       background-size: contain; 
       background-position: center top;  
       background-repeat: no-repeat;
       overflow-x: hidden;
       background-attachment: scroll; }

    .intro_para{
        top: 65px;
    }
}

@media screen and (max-width: 480px) {
        .homepage{
            background-position-y: 50px;}
}




/* <!------WHY CHOOSE US------>  */

#learn_more {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 0px;
}

.why_main_body {
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    width: 100%;
    background-color: #d91c22; 
    justify-content: flex-start;
    margin-top: 10%;
    padding:10px ;
}

.why_fig {
    height: 300px;
    width: auto; 
    margin: 0;
    flex-shrink: 0; 
}

.why_body {
    color: aliceblue;
    font-family: 'Nexa', sans-serif;
    font-size: 16px;
    line-height: 2; 
    margin-top: 0;
    flex: 1;
}

.why_body h2 {
    margin-top: -10px;
    margin-left: 2%;
    margin-bottom: 15px;
    text-align: start;
}

.why_body ul {
    list-style-type: disc; 
    margin-left: 20px; 
}

.why_para {
    color: aliceblue;
    text-align: justify;
    font-family: 'Nexa', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin-top: 20px; 
    margin-left: 1%;
    margin-right: 1%;
}

@media screen and (max-width: 768px) {
    .why_main_body{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .why_fig{
        height: 200px;
        width: auto;
    }

    .why_body{
        font-size: 14px;
        margin: 0;
    }

    .learn_b{
        padding: 8px;
        font-size: 14px;
    }

    .why_body h2 {
        margin-top: 2%;
        text-align: center;
    }
}



/* <!-------AWARDS SECTION-------->  */


.awards_main_body {
    display: flex; 
    flex-wrap: wrap;
    align-items: center; 
    width: 100%;
    background-color: #1f1f1f; 
    justify-content: flex-start;
    padding:10px ;
}

.awards_fig {
    height: 300px;
    width: auto; 
    margin-right: 2%;
    flex-shrink: 0; 
}

.awards_body {
    color: aliceblue;
    font-family: 'Nexa', sans-serif;
    font-size: 16px;
    line-height: 2; 
    margin-top: 0;
    flex: 1;
}

.awards_body h2 {
    margin-top: -10px;
    margin-bottom: 15px;
    width: 100%;
    text-align: start;
}

.awards_body ul {
    list-style-type: disc; 
    margin-left: 10%; 
}

.awards_para {
    color: aliceblue;
    text-align: justify;
    font-family: 'Nexa', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin-top: 20px; 
    margin-left: 1%;
    margin-right: 1%;

}
@media screen and (max-width: 768px) {
    .awards_main_body{
        flex-direction: column;
        align-items: center;
    }
    
    .awards_fig{
        height: 200px;
        width: auto;
    }

    .awards_body{
        font-size: 14px;
        margin: 0;
    }

    .awards_main_body{
        flex-direction: column;
        align-items: center;
        line-height: 10px;
    }
    
    .awards_fig{
        height: 200px;
        width: auto;
    }

    .awards_body{
        font-size: 14px;
        margin: 6%;
    }


    .awards_body h2 {
        margin: 0;
        text-align: center;
        margin-bottom: 15px;
    }
}





/* <!------OUR MISSION AND GOAL------>  */

.mission_main_body {
    display: flex; 
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #d91c22; 
    margin: 0%;
    padding:10px ;
}

.mission_fig {
    height: 300px;
    width: auto; 
    margin-top: 2%;
    flex-shrink: 0; 
}

.mission_body {
    color: aliceblue;
    font-family: 'Nexa', sans-serif;
    font-size: 16px;
    line-height: 2; 
}

.mission_h {
    margin-top: 3%;
}

.mission_body p{
    margin-top: -5%;
}

@media screen and (max-width: 768px) {
    .mission_main_body{
        flex-direction: column;
        align-items: center;
    }
    
    .mission_fig{
        height: 200px;
        width: auto;
    }

    .mission_body{
        font-size: 14px;
        margin: 0;
    }
}

@media screen and (max-width: 600px) {
 
    header{
        flex-direction: column;
        padding: 10px 5%;
        align-items: center;
    }

    .navitems li{
        padding: 5px 0;
    }

    .intro-t{
        font-size: 40px;
    }

    .navitems{
        flex-direction: column;
        flex-wrap: wrap;
        align-items:center;
    }
}




/* <!---------------------------------------- ABOUT US PAGE<--------------------------------------->  */

h2{
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    text-align: center;
    margin-bottom: 5%;
    font-size: 40px;
}


.about_us_page, .upcoming_games_page, .other_page, .consoles_page, .peripherals_page, .games_page, .faq_page, .hardware_page{
        background-image:url('../Images/bg_without_character.webp');
        background-size: cover;
        background-position: center;
        overflow-x: hidden;
        background-position-y: 100px;
        margin: 0%;
        padding: 0%;
        height: 100vh;
    }
    
.location_con{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    max-width: 40%;
    margin: 40px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #d91c22;
    padding: 20px;
}

.location_image{
    height: auto;
    width: 100%;
}

.location_name{
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
    font-size: 30px;
}

.location_description{
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.location_con h4{
    font-family: 'Nexa' , sans-serif;
    color: aliceblue;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align:left;
}

.opening_hours li{
    font-family: 'Nexa' ,sans-serif;
    color: aliceblue;
    margin-bottom: 5px;
    margin-left: 10px;
    line-height: 20px;
    text-align: left;
}

.opening_hours{
    margin: 0;
    padding-left: 0;
}

.map{
    width: 100%;
    height: 400px;
    margin-top: 10px;
}

.branches{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.page-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -500px;
}

h2{
    margin-top:-5% ;
    padding: 0;
    font-size: 2rem;
}




/* <!--------------- TABLE---------------->  */

.content_t{
    border-collapse: collapse;
    align-items: center;
    align-content:center ;
    font-size: 0.9rem;
    width: 90%;
    max-width: 1000px;
    margin: 25px auto 100px;
}
.table{
    margin-bottom: 100px;
}
.content_t thead tr{
    background-color: #d91c22;
    color: #e6e6e6;
    text-align: center;
    font-family: 'Nexa' , sans-serif;
    font-weight: bold;
}

.content_t thead tr{
    text-align: center;
    font-family: 'Nexa' , sans-serif;
    font-weight: bold;
}

.content_t th{
    padding: 12px 15px;
}

.content_t td{
    padding: 12px 15px;
    font-family: 'Nexa', sans-serif;
}

.content_t tbody tr{
    background-color: #172537;
    color: #faf5f5;
    border-bottom: 1px solid #fefbfb;
}

.content_t tfoot tr{
    background-color: #d91c22;
    color: aliceblue;
    text-align: center;
}

.content_t th:nth-child(1){
    width: 300px;
}

.content_t td:nth-child(1){
    width: 300px;
}

.content_t th:nth-child(2){
    width: 300px;
}

.content_t td:nth-child(2){
    width: 300px;
}
.content_t tfoot td{
    padding: 12px 15px;
    font-size: 0.9rem;
}


.table_alter{ 
    background-color: #b30a0f;
    border-radius: 8px;
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    padding: 6%;
    margin: 5%;
}
.table_alter h3{
    text-align: center;
    align-content: center;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    margin-top: 4%;
    margin-bottom: 5%;
}

.table_alter ul li{
    list-style: disc;
    font-family: 'Nexa' ,sans-serif;
    color: aliceblue;
}

.table_alt ul{
    display: none;
    margin: 5%;
}

@media screen and (max-width: 768px) {
    .location_con{
        max-width: 90%;
        margin: 20px;
    }

    .location_name{
        font-size: 24px;
    }
    
    .location_description{
        font-size: 14px;
    }

    .location_con h4{
        font-size: 18px;
    }

    .map{
        height: 300px;
    }

    .branches{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location_con{
        max-width: 100%;
        margin: 10px;
    }

    .page-title{
        flex-direction: column;
    }

    h2{
        font-size: 1.5rem;
    }
}


@media screen and (max-width: 480px){
    .location_con{
        max-width: 100%;
        margin: 10px;
    }

    .location_name{
        font-size: 20px;
    }
    
    .location_description{
        font-size: 12px;
    }

    .location_con h4{
        font-size: 16px;
    }

    .map{
        height: 250px;
    }

    .branches{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .location_con{
        max-width: 100%;
        margin: 10px;
    }


    .page-title h2{
        font-size: 1.2rem;
    }

    .table{
        display: none;
    }


    .table_alter{
        display: flex;
    }
}


/* <!---------------------------------------- UPCOMING GAMES PAGE<--------------------------------------->  */

.page_description{
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    margin: 4%;
    text-align: center;
}

.up_games_container{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    justify-content: space-around;
    
}

.up_game{
    margin: 3px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 20px;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 500px;
    background-color: #d91c22;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transition: opacity 0.4s ease, transform 0.5s ease;
}

.release{
    list-style: none;
    opacity: 0;
    font-family: 'Nexa' , sans-serif;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.5s ease;
}

.devices{
    margin-top: 3%;
    list-style: none;
    visibility: visible;
    opacity: 1;
    font-family: 'Nexa' , sans-serif;
}

.up_game:hover .devices{
    font-family: 'Nexa' , sans-serif;
    
}

.up_game:hover{
    transform: scale(1.02);
}

.up_game:hover .release{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;    
}

.up_game_thumb{
    display: block;
    margin: auto;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;

    height: 200px;
    width: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

.upcoming_game_con{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.up_game h3{
    color: aliceblue;
    font-family: 'Nexa', sans-serif;
    margin-top: 0;

}

.up_game p{
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    margin-top: 5px;
}

.other_details{
    font-family: 'Nexa', sans-serif;
    list-style: none;
    color: #000000;
    padding: 0;
    margin-top: 7px;
}

.page_description {
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    margin: 4%;
    text-align: center;
}


@media (max-width: 768px) {
    .up_game {
        flex-direction: column; 
        flex: 1 1 100%; 
        max-width: 95%; 
    }

    .up_game_thumb {
        height: 180px; 
    }

    .up_game h3 {
        text-align: center;
        font-size: 20px; 
    }

    .up_game p {
        text-align: center;
        font-size: 14px; 
    }


    .devices, .release{
        text-align: center;
        font-size: 16px;
        visibility: visible;
        opacity: 100%;
        transform: translateY(0);
    }
}

@media (max-width: 480px) {
    .up_game {
        padding: 3%;
    }

    .up_game_thumb {
        height: 150px; 
    }

    .up_game h3 {
        text-align: center;
        font-size: 15px; 
    }

    .up_game p {
        text-align: center;
        font-size: 11px; 
    }

    .devices, .release{
        font-size: 12px;
    }

    .page_description{
        font-size: 12px;
    }
}

/* <!---------------------------------------- OTHER PAGE<--------------------------------------->  */

.options_container{
    margin-top: -7%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.option {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 30%; 
    margin-bottom: 20px;

}

.op_img{
    z-index: 2;
    width: 100%;
    height: auto;
}

.option_description{
    z-index: 1;
    padding: 25px;
    border-radius: 12px;
    margin-top: -20px;
    background-color: #b30a0f;
    font-family: 'Nexa' ,sans-serif;
    color: aliceblue;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.option_description h3{
    margin: 3px;
    text-align: center;
}

.option_description p{
    margin-top: 10px;
}

.shop_b{
    margin-top: 5%;
    border-radius: 7px;
    font-family: 'Nexa' , sans-serif;
    font-weight: bold;
    border-collapse: collapse;
    color: rgb(11, 11, 11);
    padding: 10px 10px; 
    text-decoration: none;
    cursor: pointer;
    background-color: #eee6e6;
    transition: all 0.23s ease 0.1s;
}

.shop_b:hover{
    background-color: #080808;
    color: #eee6e6;
}



@media screen and (max-width: 843px) {
    .option_description{
        font-size: 15px;
        padding: 20px;
    }
    
    .option{
        padding: 15px;}


}

@media screen and (max-width: 600px) {
    .options_container{
        margin-top: -1%;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .option{
        display: flex;
        margin-top: -5%;
        padding: 40px;
        flex-direction: column;
        width: 90%;
        height: 50%;
        margin-bottom: 20px;
    }

    .shop_b{
        position: relative;
    }
}




/* <!---------------------------------------- CONSOLES PAGE<--------------------------------------->  */

.consoles_main_con{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%;
    place-items: center;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.consoles h3{
    font-family: 'Nexa',sans-serif;
    text-align: center;
    color: aliceblue;
    margin: 20px;
    margin-bottom: 2%;
}

.console_thumb{
    height: auto;
    width: 90%;
    margin-bottom: 4%;
}


.consoles{
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    align-content : center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: #b30a0f;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 8px 2px black;
}

.console_description p{
    text-align: justify;
    font-family: 'Nexa',sans-serif;
    color: aliceblue;
}

.console_description{
    margin-bottom: 2%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.price{
    text-align: center;
    margin-top: 10px;
    font-size: 27px;
    color: aliceblue;
    font-family: 'Nexa',sans-serif;
    font-weight: bold;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.5s ease;
}


.consoles:hover .price{
    display: block;
    opacity: 100%;
    transform: translateY(0);
}


.consoles:hover{
    padding-bottom: 25px;
}
    

@media screen and (max-width: 809px) {
    .consoles{
        width: 90%;
    }

    .console_thumb{
        width: 80%;
    }

    .console_description p{
        font-size: 10px;
        width: 100%;
    }

    .price{
        font-size: 20px;
    }
}


@media screen and (max-width: 709px) {
    .consoles{
        width: 90%;
    }

    .console_thumb{
        width: 80%;
    }

    .console_description p{
        font-size: 13px;
        width: 100%;
    }
    
    .consoles_main_con{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 408px) {
        .price{
            display: block;
            opacity: 100%;
            transform: translateY(0);
            margin-bottom: 3%;
        }  

        .consoles{
            border-radius: 15px;
        }
}




/* <!---------------------------------------- PERIPHERALS PAGE<--------------------------------------->  */

.peripherals_main_con{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    width: 100%;
    place-items: center;
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.peripherals h3{
    font-family: 'Nexa',sans-serif;
    text-align: center;
    color: aliceblue;
    margin: 20px;
}

.peripherals_thumb{
    height: auto;
    width: 90%;
    margin-bottom: 4%;
}

.peripherals{
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    align-content : center;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 3%;
    border-radius: 30px;
    background-color: #b30a0f;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 8px 2px black;
}

.peripherals_description p{
    text-align: justify;
    font-family: 'Nexa',sans-serif;
    color: aliceblue;
}

.peripherals_description{
    margin-bottom: 2%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.peripherals:hover .price{
    display: block;
    opacity: 100%;
    transform: translateY(0);
}

.peripherals:hover{
    padding-bottom: 25px;
}
    
@media screen and (max-width: 809px) {
    .peripherals{
        width: 90%;
    }

    .peripherals_thumb{
        width: 80%;
    }

    .peripherals_description p{
        font-size: 10px;
        width: 100%;
    }

}

@media screen and (max-width: 709px) {
    .peripherals{
        width: 90%;
    }

    .peripherals_thumb{
        width: 80%;
    }

    .peripherals_description p{
        font-size: 13px;
        width: 100%;
    }
    
    .peripherals_main_con{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 408px) {
    .peripherals{
        border-radius: 15px;
    }
}

/* <!---------------------------------------- HARDWARE PAGE<--------------------------------------->  */


.hardware_main_con {
    display: flex;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; 
}

.processors {
    margin: 1%;
    display: flex;
    flex-wrap: nowrap;
    padding: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    width: 25%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

#price{
    font-family: "Nexa",sans-serif;
}

.hardware_thumb{
    height: auto;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 1%;
}

.hardware_deets{
    margin-left: 2%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hardware_deets h3{
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.point_list{
    list-style: none;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
}

.order-btn{
    background-color: #172537;
    color: #e6e6e6;
    width: auto;
    padding: 1%;
    border-radius: 5px;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    margin: 3%;
    
}

#cart{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 3%;



}

#cart img{
    height: 70px;
}

#itemCount{
    font-family: 'Nexa',sans-serif;
    font-weight: bold;
    color: #e6e6e6;
    height: 0%;
    font-size: 25px;

}

#countBG{
    display: flex;
    height: -4%;
    background-color: #b30a0f;
}

#cartTable{
    /* border-collapse: collapse; */
    align-items: center;
    border-color: #e6e6e6;
    align-content:center ;
    font-size: 0.9rem;
    width: 50%;
    max-width: 1000px;
    margin: 25px auto 100px;
}


#cartTable tfoot tr{
    color: #e6e6e6;
    background-color: #b30a0f;
    font-family: "Nexa",sans-serif;
    font-weight: bold;
    text-align: center;
}

#cartTable thead tr{
    background-color: #b30a0f;
    font-family: "Nexa",sans-serif;
    color: #eee6e6;
}

h4{
    font-family: "nexa", sans-serif;
    display: flex;
    justify-content: center;
    color: #e6e6e6;
    font-size: 25px;
    background-color: #172537;
    margin-top: 3%;
}

#emptyCart{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#backG{
    align-items: center;
    text-align: center;
    align-content: center;
    background-color: #b30a0f;
    font-family: "Nexa", sans-serif;
    color: #e6e6e6;
    width: 70%;
    padding: 3%;
    margin-bottom: 5%;
    border-radius: 50px;
}

#emptyCart img{
    margin-top: 3%;
    height: 200px;

}

#cartTable tbody tr{
    align-content: center;
    align-items: center;
    text-align: center;
    font-family: Nexa, sans-serif;
    color: #e6e6e6;
    background-color: #172537;
}

#orderOptions{
    display: flex;
    justify-content: center;
}

.quantityDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qty_Dis{
    font-family: "Nexa",sans-serif;
    font-weight: bold;
}

.quantitySign{
    background-color: #172537;
    padding: 5px;
    font-family: 'Nexa',sans-serif;
    margin: 10%;
    border-radius: 5px;
    color: #e6e6e6;
}
#favs, #loadFav, #checkout{
    background-color: #b30a0f;
    font-family: 'Nexa',sans-serif;
    color: #e6e6e6;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;

}

@media (max-width: 768px) {
    .processors_con{
        flex-direction: column;
    }
    .processors {
        flex-direction: column; 
        width: 70%; 
    }

    .hardware_thumb {
        width: 50%; 
    }

    .hardware{
        opacity: 1;
        max-height: 300px;
    }

    .hardware_deets h3{
        text-align: center;
        margin-top: 2%;
    }

     .description{
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .game {
        width: 90%;
        margin: 4%; 
    }

    .game_deets h3{
        text-align: center;
        font-size: 20px;
        margin-top: 2%;
    }

     .description{
        font-size: 14px;
        text-align: justify;
    }

    .point_list{
        font-size: 15px; 
        margin: 4%;
    }

    .game_thumb{
        margin-top: 2%;
        width: 40%;
    }
}



/* <!---------------------------------------- GAMES PAGE<--------------------------------------->  */

.web_trailer_con{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-top: -3%;
    overflow:hidden;
}

.web_trailer{
    width: 100%;
    height: auto;
}


.games_con {
    display: flex; 
}


.games_con {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

}

.game {
    margin: 1%;
    display: flex;
    flex-wrap: nowrap;
    padding: 1%;
    flex-direction: row;
    align-items: center;
    background-color: red;
    color: white;
    width: 44%;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.game_thumb{
    height: auto;
    width: 25%;
    border-radius: 5px;
}

.game_deets{
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.game_deets h3{
    font-family: 'Nexa', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.point_list{
    list-style: none;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
}

.description{
    margin-top: 2%;
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in 0.1s, opacity 0.4s ease-in;
}


.game:hover .description{
    opacity: 1;
    visibility: visible;
    max-height: 300px;
}


@media (max-width: 768px) {
    .games_con{
        flex-direction: column;
    }
    .game {
        flex-direction: column; 
        width: 70%; 
    }

    .game_thumb {
        width: 50%; 
    }

    .description{
        opacity: 1;
        max-height: 300px;
    }

    .game_deets h3{
        text-align: center;
        margin-top: 2%;
    }

     .description{
        text-align: justify;
    }
}

@media (max-width: 480px) {
    .game {
        width: 90%;
        margin: 4%; 
    }

    .game_deets h3{
        text-align: center;
        font-size: 20px;
        margin-top: 2%;
    }

     .description{
        font-size: 14px;
        text-align: justify;
    }

    .point_list{
        font-size: 15px; 
        margin: 4%;
    }

    .game_thumb{
        margin-top: 2%;
        width: 40%;
    }
}


/* <!---------------------------------------- FAQ PAGE<--------------------------------------->  */

.freq_asked_qs_con{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll; 
    overflow-y: auto;

}


.freq_asked_qs_con h3{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Nexa' , sans-serif;
    margin-left: 2%;
    margin-bottom: 1%;
}

.freq_asked{
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 8px 1px black;
    border-radius: 8px;
    background-color: #d91c22;
}

.freq_asked h4{
    font-family: 'Nexa' , sans-serif;
    color: aliceblue;
    margin-bottom: 1%;
}

.freq_asked p{
    font-family: 'Nexa', sans-serif;
    color: aliceblue;
    background-color: #172537;
    padding: 1%;
}

@media screen and (max-width: 768px) {
    .freq_asked h4{
        font-size: 13px;
    }
    
    .freq_asked p{
        font-size: 13px;
    }
    
    .freq_asked_qs_con h3{
        font-size: 15px;
    } 
}


@media screen and (max-width: 480px) {
    .freq_asked h4{
        font-size: 11px;
    }
    
    .freq_asked p{
        font-size: 11px;
    }
    
    .freq_asked_qs_con h3{
        font-size: 13px;
    }
}


/* <-------------------FORM------------------> */

.main_form_con{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.form_con{
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    border-radius: 10px;
}

.form{
    display: flex;
    width: 80vw;
    background: linear-gradient(#d91c22, #b30a0f);
    box-shadow: 0px 0px 8px 1px black;
    padding: 3%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.form h3{
    font-family: 'Nexa',sans-serif;
    color: aliceblue;
}

.contact_deets{
    margin-left: 6%;
    margin-right: 6%;
    width: 600px;
    border-color: #000000;
    padding-left: 3%;
    height: 50px;
    outline:none;
    border-radius: 6px;
    background-color:#efefef;

}

.form textarea{
    width: 600px;
    height: 200px;
}

.form ::placeholder{
    padding-left: 2%;
    padding-top: 2%;
    color: rgb(0, 0, 0);
    font-family: 'Nexa',sans-serif;
}

.form button{
    display: flex;
    flex-wrap: wrap;
    padding: 1% 3%;
    border-radius: 6px;
    border-color:rgb(19, 19, 19);
    font-family: 'Nexa', 'sans-serif';
    font-weight: bold;
}

.form button:hover{
    background-color: #1e1e1e;
    color: #e6e6e6;
}

.contact_deets:focus{
    border: 3px solid #faf5f5;

}

@media screen and (max-width: 768px) {
    .contact_deets{
        width: 300px;
    }

    .form textarea{
        width: 300px;
        height:150px ;
    }
}


@media screen and (max-width: 480px) {

    .contact_deets{
        width: 290px;
    }

    .form textarea{
        width: 290px;
        height:90px ;
    }   
}
 


/* <!---------------------------------------- CHECKOUT --------------------------------------->  */


#Ordersummary{
    background-color: #b30a0f;
    font-family: "Nexa",sans-serif;
    color: #e6e6e6;
    width: 40%;
    padding: 4%;
}

#sumTable{
    display: flex;
    justify-content: center;
}

#Ordersummary th{
    padding-bottom: 5%;
}

#sumfooter{
    font-family: "Nexa",sans-serif;
    font-weight: bold;
}

#sumGtotal{
    font-family: "Nexa",sans-serif;
}


.main_payment_con{
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
}
.Pcontact_deets, .c_deets{
    margin-left: 6%;
    margin-right: 6%;
    width: 600px;
    /* border-color: #000000; */
    padding-left: 2%;
    height: 50px;
    outline:none;
    /* border-radius: 6px; */
    background-color:#efefef;
}

.c_minideets{
    background-color: #e6e6e6;
    height: 50px;
    width: 325px;
    padding-left: 2%;
    margin: 4%;

}

.card-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
}